# AWS configuration
aws_region        = "ap-southeast-1"
availability_zone = "ap-southeast-1a"

# Project naming prefix
project_name      = "k8s-demo-huyvlt"

# Network configuration
vpc_cidr          = "10.0.0.0/16"

# EC2 details
# Use t3.medium for Minikube compatibility
instance_type     = "t3.medium"

# App and Kubernetes port configuration
app_port          = 80
node_port         = 30080
